{% extends 'elections/base.html' %}

<br />
{% block title %}{{category.topic}}{% endblock title %} {% block content %}
<div class="flex-container">
  <h1>{{category.topic}}</h1>
  <h2>Candidates</h2>
</div>

<div class="row">
  {% for candidate in candidates %}
  <div class="candidate card blue-grey col s12 m4">
    <form method="post" class="card-content white-text">
      {% csrf_token %}
      <h2 class="cart-title center-align">{{ candidate.candidate_name }}</h2>
      <p>{{ candidate.description }}</p>
      <input
        class="blue lighten-1"
        type="hidden"
        name="candidate_id"
        value="Vote For {{ candidate.candidate_name }}"
      />
    </form>
  </div>
  {% endfor %} {% endblock content %}
</div>
