{% extends "elections/base.html" %} {% load dict_access %}
<br />
{% block title %}Elections{% endblock title%}
<br />

{% block content %}
<div class="row">
  <ul class="elections-browser collection col m3">
    <p class="collection-title">Available elections</p>
    <hr />
    {% for election in elections %}
    <li class="collection-item">
      <a href="{% url 'elections_details' election.election_id %}"
        >{{election.election_reason}}</a
      >
    </li>
    {% endfor %}
  </ul>
  <div class="elections-occuring col m9">
    {% for election in elections %}
    <div class="election">
      <a href="{% url 'elections_details' election.election_id %}"
        ><h2>{{ election.election_reason }}</h2></a
      >
      <p>{{ election.start_time }} to {{ election.end_time }}</p>
      {% if not days_left|keyvalue:election.election_id == "over" %}
      <p>Days left: {{days_left|keyvalue:election.election_id}}</p>
      <p>Please wait until the end of the election to view votes</p>
      {% else %}
      <a>
        <a href="{% url 'elections_results' election.election_id %}">Results</a>
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
