{% extends "elections/base.html" %}
<br />
{% block title %}Elections{% endblock title%}
<br />

{% block content %}
<div class="row">
  <ul class="elections-browser collection col m3">
    <li class="collection-item"><a href="">SRC Elections</a></li>
    <li class="collection-item"><a href="">FCI Elections</a></li>
    <li class="collection-item"><a href="">FHAS Elections</a></li>
    <li class="collection-item"><a href="">Dean Elections</a></li>
  </ul>
  <div class="elections-occuring col m9">
    {% for election in elections %}
    <div class="election">
      <a href="{% url 'elections_details' election.election_id %}"
        ><h2>{{ election.election_reason }}</h2></a
      >
      <p>{{ election.start_time }} to {{ election.end_time }}</p>
      <a>
        <p>Results</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
