{% extends 'elections/base.html' %}

<br />
{% block title %}{{election.election_reason}}{% endblock title %}
<br />
{% block content %}
<div class="flex-container">
  <h1 class="block">{{election.election_reason}}</h1>
  <p>{{election.start_time|date}} to {{election.end_time|date}}</p>
</div>

<ul class="collection container">
  {% for category in categories %}
  <div class="category collection-item">
    <a
      href="{% url 'category_details' category.category_id %}"
      class="flex-apart"
      ><h3>{{ category.topic }}</h3>
      <i class="material-icons">arrow_forward</i></a
    >
  </div>
  {% endfor %} {% endblock content %}
</ul>
